[Unit]
Description=Ejecutar sincronización de sesiones de OMP cada 30 minutos

[Timer]
OnCalendar=*:0/30
Persistent=true

[Install]
WantedBy=timers.target
