{{- $name := (get . "name") | default (env "GIT_NAME") -}}
{{- $email := (get . "email") | default (env "GIT_EMAIL") -}}
{{ if and $name $email -}}
[user]
	name = {{ $name }}
	email = {{ $email }}
{{- end }}
[core]
[init]
	defaultBranch = main
[credential]
	helper = store
{{- if eq $name "Daniel Borre" }}

[includeIf "gitdir:~/vibe/"]
	path = ~/.gitconfig-vibe

[includeIf "gitdir:~/ansible/"]
	path = ~/.gitconfig-vibe

[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.gitconfig-vibe
{{- end }}
